<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/vendor/bootstrap.css">
    <link rel="stylesheet/less" type="text/css" href="less/index.less" />
    <script type="application/javascript" src="browser-polyfill.min.js"></script>
    <title></title>
  </head>
  <body class="ct-popup-wrapper">

    <div id="app">
      <top-bar></top-bar>

      <!-- <div class="ct-loader text-center" v-show="isLoading">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div> -->

      <template v-if="!isLoggedIn">
        <div class="ct-social-login-buttons">
          <a
            class="btn btn-primary btn-google"
            :href="domainUrl + `/auth/google?from_extension_url=${extensionURL}`"
            target="_blank"
            >
            <img src="img/social-icons/google.png" class="img-responsive" />
            Login with Google
          </a>

          <!-- <a
            class="btn btn-primary btn-twitter"
            href="#"
            target="_blank"
            >
            <img src="img/social-icons/twitter.png" class="img-responsive" />
            Login with Twitter
          </a> -->

        </div>
      </template>

      <template v-else>

        <div v-show="currentPageBookmarked">
          <div class="ct-bookmark-status-card success">
            <div class="icon-wrapper">
              <span class="material-icons">check</span>
            </div>
            <h6>Current page is bookmarked!</h6>
          </div>

          <div class="update-bookmark-section">
            <div class="form-group">
              <p v-if="isExistingBookmark"> {{getRemainingTime(bookmark.timeout_date)}} </p>
              <label for="reminder">I want to read this within</label>
              <select class="custom-select" v-model="bookmark.timeout" @change="updateBookmark()">
                <option value="2w">2 Weeks</option>
                <option value="1m">1 Month</option>
                <option value="3m">3 Months</option>
              </select>
              <small class="form-text text-muted">You'll get reminders for upto {{getTimeoutText(bookmark.timeout)}}</small>
            </div>

            <div class="form-group">
              <label for="hashtags">Tags</label>
              <vue-tags-input
                v-model="tag"
                :tags="tags"
                :autocomplete-items="filteredTags"
                @tags-changed="updateBookmarkTags"
              ></vue-tags-input>
              <small class="form-text text-muted">Add tags separated by space or comma</small>
            </div>
          </div>
        </div>

        <div v-show="isLoading" class="ct-bookmark-status-card" style="font-size:0.8em;padding:0;">
          <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>

        <ul class="ct-options">
          <li @click="viewAllLinks">View All Bookmarks</li>
          <li @click="signOut">Log out</li>
        </ul>
      </template>

    </div>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/less.js"></script>
    <script src="js/vendor/vue.js"></script>
    <script src="js/vendor/vue-inputs-tags.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>